---
import { collection, getDocs, getDoc, doc } from "firebase/firestore";
import "../../main.sass";
import { db } from "../../lib/firebase";
import { createSafeRoute } from "../../lib/randomUtils";
import { marked } from "marked";
import { Image } from "astro:assets";
import "animate.css";
import NotFoundImage from "../../Assets/notFound.webp";
import { SEO } from "astro-seo";
import Navigation from "../../components/navigation.astro";

export async function getStaticPaths() {
  const retrievedData = await getDocs(collection(db, "documents"));
  const fetchedDocuments = retrievedData.docs;

  return fetchedDocuments.map((item) => {
    return {
      params: {
        id: item.id,
        title: createSafeRoute(item.data()?.head?.title),
      },
    };
  });
}

const { id } = Astro.params;

const currentDocumentSnapshot = await getDoc(doc(db, "documents/" + id));
const currentDocument = currentDocumentSnapshot.data();

let documentBody: string = currentDocument?.body;
let documentBodyMarkdown = "No content";
if (!!documentBody) {
  documentBodyMarkdown = await marked.parse(documentBody);
} else {
  documentBody = "No content";
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={currentDocument?.head?.title + " | LUAD Publications"}
      description={documentBody.slice(0, 155) + "..."}
      openGraph={{
        basic: {
          title: currentDocument?.head?.title + " | LUAD Publications",
          type: "article",
          image: !!currentDocument?.head?.headerImage?.small
            ? currentDocument?.head?.headerImage?.small
            : NotFoundImage.src,
        },
        optional: {
          description: documentBody.slice(0, 155) + "...",
        },
        article: {
          authors: !!currentDocument?.head?.author
            ? [currentDocument?.head?.author]
            : undefined,
        },
      }}
    />

    <title>{currentDocument?.head?.title}</title>
  </head>
  <body class="light-theme">
    <Navigation />
    <article class="DocumentPage">
      <Image
        alt=`${currentDocument?.head?.title} post's thumbnail'`
        src={!!currentDocument?.head?.headerImage?.small
          ? currentDocument?.head?.headerImage?.small
          : NotFoundImage}
        width={768}
        height={452}
      />
      <br />
      <h1>{currentDocument?.head?.title}</h1>
      {
        currentDocument?.head?.author && (
          <>
            <p>By: {currentDocument?.head?.author}</p>
            <>
              <br />
              <br />
            </>
          </>
        )
      }
      <p
        id="bodyText"
        set:html={!!documentBodyMarkdown ? documentBodyMarkdown : "No content"}
      />
    </article>
  </body>
</html>
